.field {
    margin-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    // width: 100%;

    padding: 0.5rem
        /* 8px */
    ;
    border-radius: 0.25rem;
    display: flex;

    label {
        display: flex;
        align-items: center;
    }

    input,
    select {
        margin-left: auto;
    }
}

// @media (min-width: 768px) {

//     .field {
//         width: 50%;
//     }
// }

// @media (min-width: 1024px) {
//     .field {
//         width: 33.333333%;
//     }
// }

canvas {
    max-width: 260px;
    max-height: 240px;
}

.risk-label {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.low-risk {
    background-color: #7bd29f;
    color: #34445b;
}

.medium-risk {
    color: #973f00;
    background-color: #ffcb90;
}

.high-risk {
    background-color: #FCA5A5;
    color: #B91C1C;
}