<div class="w-screen h-screen flex flex-wrap content-start">
    <div class="w-full h-14 border-b-2 flex items-center p-2 bg-gradient-to-r from-green-400 to-blue-400">
        <div class="text-3xl font-semibold text-slate-800">AttritionPro</div>
    </div>
    <div class="w-64 border-r-2 p-4" style="height: calc(100vh - 3.5rem);">
        <div *ngFor="let prediction of predictionsList"
            class="mb-2 rounded bg-slate-200 hover:bg-slate-300 px-2 py-1 cursor-pointer">

            <div>{{prediction}}</div>
            <div class="text-xs text-slate-500">16th Mar 2024</div>
        </div>
    </div>
    <div class="p-4" style="width: calc(100vw - 16rem);">
        <div class="text-3xl">Enter details</div>
        <div class="mt-3">
            Calculate the risk that an employee resigns
        </div>

        <div class="mt-6 flex flex-wrap">

            <!-- Age -->
            <div class="mr-4 bg-slate-200 p-2 rounded">
                <label for="" class="mr-2">Age</label>
                <input type="number" min="18" step="1" max="120" class="border rounded w-16 px-2 py-1">
            </div>

            <!-- Business Travel -->
            <div class="mr-4 bg-slate-200 p-2 rounded">
                <label for="" class="mr-2">Business Travel</label>
                <select name="" id="" class="rounded px-2 py-1">
                    <option value="">Travel Rarely</option>
                </select>
            </div>

        </div>
        <div class="mt-6">
            <button (click)="onPredictClick()"
                class="px-4 py-2 rounded bg-gradient-to-r from-green-400 to-blue-400 mr-4 font-semibold">Predict</button>
            <button (click)="onCancelClick()"
                class="px-4 py-2 rounded bg-slate-700 text-white mr-4 font-semibold">Cancel</button>
        </div>

        <div class="mt-6">
            <div class="text-3xl w-full border-b-2">Prediction</div>
            <div class="text-2xl mt-4">Details</div>

            <div class="text-xl mt-2">ML Ensemble models</div>
            <div>Voting:</div>
            <div>Stacking:</div>
            <div>Simple Average:</div>

            <div class="text-xl mt-2">DL Ensemble Models</div>
            <div>Voting:</div>
            <div>Stacking:</div>
            <div>Simple Average:</div>

            <div class="text-2xl mt-4">Result</div>
            <div class="text-xl font-semibold">
                Yes
            </div>

        </div>

    </div>
</div>